@model IEnumerable<CandyShop.Models.Employee>

@{
    ViewData["Title"] = "Details";
}

<h1>Time Clock</h1>

<div>
    <h4>Edit Time</h4>
    <hr />
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Clock In
                </th>
                <th>
                    Break Start
                </th>
                <th>
                    Break End
                </th>
                <th>
                    Clock Out
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee employee in Model)
                {<tr>
                    <td>
                        @Html.DisplayFor(modelItem => employee.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.clockIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.breakStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.breakEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.clockOut)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@employee.userId">Edit</a>
                    </td>
                </tr>
                }
        </tbody>
    </table>
