@model IEnumerable<CandyShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<p>
    <ul>
        <li><button onclick="location.href='@Url.Action("createproduct", "managers")'">Add New Product To Inventory</button></li>
        <li><button onclick="location.href='@Url.Action("employeelistview", "managers")'">Adjust Employee Time Punch</button></li>
    </ul>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity in Stock
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.QTY)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => product.price)
                </td>
                <td>
                    <a asp-action="EditProduct" value="@product.productId" asp-route-id="@product.productId">EDIT</a>
                    <a asp-action="DeleteProduct" value="@product.productId" asp-route-id="@product.productId">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>


