@model IEnumerable<CandyShop.Models.StoreProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the CandyShop</h1>

<p>
    <ul>
        <li><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("createproduct", "managers")'">Add New Product</button></li>
        <li><button type="button" class="btn btn-info" onclick="location.href='@Url.Action("employeelistview", "managers")'">Work History</button></li>
    </ul>

</p>
<h4><span>Current Inventory</span></h4>
<table class="table table-bordered">
    <thead>
        <tr style="background-color:lightcoral">
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity in Stock
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.QTY)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => product.price)
                </td>
                <td>
                    <a asp-action="EditProduct" value="@product.productId" asp-route-id="@product.productId">EDIT</a>
                    <a asp-action="DeleteProduct" value="@product.productId" asp-route-id="@product.productId">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>


