@model CandyShop.Models.EmployeeTransactionViewModel
@{
    ViewData["Title"] = "CartList";
}

<h1>CartList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    
                @Html.DisplayNameFor(model => model.employee.name)
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.transaction.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.QTY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.price)
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="@product.productId">Product Details</a>
                </td>
                <td>
                    <button><a asp-action="RemoveFromCart" id="@product.productId" asp-route-id="@product.productId">Remove</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
