@model CandyShop.Models.EmployeeTransactionViewModel
@{
    ViewData["Title"] = "CartList";
}

<h4 style="text-align:center">Your Cart</h4>


    
Employee: @Model.employee.name
<table class="table table-bordered">
    <thead>
        <tr style="background-color:lightcoral">
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                See Details
            </th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.transaction.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.price)
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="@product.productId">Details</a>
                </td>
                <td>
                    <button><a asp-action="RemoveFromCart" asp-route-id="@product.productId">Remove</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Sub-total : $@Model.transaction.products.Sum(p => p.price).ToString("N2")</h2>
<div>
    <span>
        <button class="btn btn-outline-success">
            <a asp-action="CashPurchase" id="@Model.transactionId" asp-route-id="@Model.transactionId">Cash</a>
        </button>
        <button class="btn btn-outline-info">
            <a asp-action="CardPurchase" id="@Model.transactionId" asp-route-id="@Model.transactionId">Credit</a>
        </button>
    </span>
</div>

<div>
    <a asp-action="Index">Back to Main Page</a>
</div>