@model CandyShop.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Review Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.cart)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.productName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.QTY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.price)
                    </td>
                    <td>
                        <a asp-action="ProductDetails" asp-route-id="@product.productId">Product Details</a>
                    </td>
                    <td>
                        <a formaction=@Url.Action("PurchaseCart") asp-route-id="@product.productId">
                            PURCHASE
                        </a>
                    </td>
                </tr>
            }
        </tbody>
</table>




        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
