@model IEnumerable<CandyShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Candy Shop</h1>


    <span>@DateTime.Now</span>
    <form><button type="button" onclick="location.href='@Url.Action("timepunch", "employees")'" asp-action-id="Model.userId">Clock In/Out</button></form>
<div style="float:right"><span><button onclick="location.href='@Url.Action("edit", "employees")'" >View Cart</button></span></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.QTY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.price)
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="@product.productId">Product Details</a>
                </td>
                <td><a formaction=@Url.Action("AddToCart") asp-route-id="@product.productId">
                    <span class="btn btn-info glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
