@model CandyShop.Models.Employee

@{
    ViewData["Title"] = "TimePunch";
}

<h1>TimePunch</h1>

<h4>Employee</h4>
<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Clock In Time</th>
            <th>Break Start</th>
            <th>Break End</th>
            <th>Clock Out Time</th>
        </tr>
        </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.name)</td>
            <td>@Html.DisplayFor(model => model)</td>
            <td>@Html.DisplayFor(model => model)</td>
            <td>@Html.DisplayFor(model => model)</td>
            <td>@Html.DisplayFor(model => model)</td>
        </tr>
    </tbody>
</table>
<button class="btn-light"><a asp-action="PunchIn" id="@Model.employeeId" asp-route-id="@Model.employeeId">Clock In</a></button>
<button class="btn-light"><a asp-action="PunchOut" id="@Model.employeeId" asp-route-id="@Model.employeeId">Clock Out</a></button>
<button class="btn-light"><a asp-action="BeginBreak" id="@Model.employeeId" asp-route-id="@Model.employeeId">Start Break</a></button>
<button class="btn-light"><a asp-action="EndBreak" id="@Model.employeeId" asp-route-id="@Model.employeeId">End Break</a></button>
<div>
    <a asp-action="Index">Back to List</a>
</div>

