@model CandyShop.Models.EmployeeWorkTrackerViewModel

@{
    ViewData["Title"] = "TimePunch";
}

<h1>Time Punch</h1>

<h4>Welcome @Model.employee.name</h4>
<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Clock In Time</th>
            <th>Break Start</th>
            <th>Break End</th>
            <th>Clock Out Time</th>
        </tr>
        </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.employee.name)</td>
            <td>@Html.DisplayFor(model => model.hoursTracker.clockIn)</td>
            <td>@Html.DisplayFor(model => model.hoursTracker.breakStart)</td>
            <td>@Html.DisplayFor(model => model.hoursTracker.breakEnd)</td>
            <td>@Html.DisplayFor(model => model.hoursTracker.clockOut)</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-outline-danger"><a asp-action="PunchIn" id="@Model" asp-route-id="@Model">Clock In</a></button>
<button class="btn btn-outline-danger"><a asp-action="PunchOut" id="@Model" asp-route-id="@Model">Clock Out</a></button>
<button class="btn btn-outline-success"><a asp-action="BeginBreak" id="@Model" asp-route-id="@Model">Start Break</a></button>
<button class="btn btn-outline-success"><a asp-action="EndBreak" id="@Model" asp-route-id="@Model">End Break</a></button>
<div>
    <a asp-action="Index">Back to List</a>
</div>

