@model CandyShop.Models.Employee

@{
    ViewData["Title"] = "TimePunch";
}

<h1>TimePunch</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-2">
                Employee
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class="col-sm-2">
                Clock In Time
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.clockIn)
            </dd>
            <dt class="col-sm-2">
                Break Start
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.breakStart)
            </dd>
            <dt class="col-sm-2">
                Break End
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.breakEnd)
            </dd>
            <dt class="col-sm-2">
                Clock Out Time
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.clockOut)
            </dd>
        </dl>
    </div>
</div>
<button><a asp-action="TimePunch" id="@Model.userId" asp-route-id="@Model.userId">PUNCH</a></button>

<div>
    <a asp-action="Index">Back to List</a>
</div>

