@model IEnumerable<CandyShop.Models.WorkHoursTracker>

@{
    ViewData["Title"] = "WorkHistory";
}

<h1 style="text-align:center">Work History</h1>

<table class="table table-bordered">
    <thead>
        <tr style="background-color:lightcoral">
            <th>
                Employee
            </th>
            <th>
                Clocked in at:
            </th>
            <th>
                Started Break at:
            </th>
            <th>
                Ended Break at:
            </th>
            <th>
                Clocked out at:
            </th>
            <th>
                Hours Worked
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.breakStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.breakEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clockOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoursWorked)
            </td>
        </tr>
}
    </tbody>
</table>
